body {
  padding: 0;
}

.header-container {
  background-color: rgba( 67, 47,117,1);
  margin: 0;
  padding: 10px;
  text-align: center;
}

.header-content {
  margin-top: 0px;
  margin-bottom: 0px;
}